html,
body {
    margin: 0;
    background-color: #0f0e0e;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Roboto';
    font-weight: 1200;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


/* Navbar elements */

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding: 0;
}

nav ul li {
    list-style: none;
    color: #e9e8e8;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    margin: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #e9e8e8;
}

nav ul li a:unvisited {
    text-decoration: none;
    color: #e9e8e8;
}

nav ul li a:visited {
    text-decoration: none;
    color: #e9e8e8;
}

nav ul li a:hover {
    text-decoration: none;
    color: #bd162f;
    cursor: pointer;
}

nav ul li a:active {
    text-decoration: none;
    color: #bd162f;
    cursor: pointer;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

header h1 {
    color: #750c1c;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 0.5em;
    font-size: 5rem;
    text-align: center;
}


/* Social Media Icons */

.fab {
    color: #750c1c;
    font-size: 70px;
    margin: 0.5em;
    margin-bottom: 6em;
}

.fab:hover {
    color: #bd152e;
    cursor: pointer;
}


/* About Me */

#about {
    background-color: #750c1c;
    height: 40rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#about h2 {
    padding-top: 2em;
    font-size: 2rem;
    color: #e9e8e8;
}

#about h3 {
    padding-top: 4em;
    font-size: 1.2rem;
    color: #e9e8e8;
    text-align: center;
}


/* Recent work */

#work {
    height: 50rem;
    display: flex;
    flex-flow: column;
}

#work h2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2em;
    font-size: 2rem;
    color: #e9e8e8;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5em;
}

.projects-tiles h3 {
    color: #e9e8e8;
    text-align: center;
    max-width: 20rem;
}

#work div.btn {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

#btn {
    background-color: #750c1c;
    border: none;
    padding: 0.2em 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #e9e8e8;
    font-size: 1rem;
}


/* Contact section */

#contact {
    height: 60em;
    background-color: #181717;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
}

#contact h2 {
    padding-top: 2em;
    font-size: 2rem;
    color: #e9e8e8;
}

#contact h3 {
    color: #e9e8e8;
}

#contact h3 a {
    color: #750c1c;
}

#contact .form {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
}

#contact .form input[type=text] {
    color: #e9e8e8;
    background-color: #272727;
    border: none;
    margin: 0.5em;
    width: 40rem;
    padding: 1em;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#contact .form textarea {
    color: #e9e8e8;
    background-color: #272727;
    border: none;
    margin: 0.5em;
    padding: 1em;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#contact .form input[type=submit] {
    color: #e9e8e8;
    background-color: #750c1c;
    border: none;
    margin: 0.5em;
    width: 13rem;
    padding: 1em;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.footer {
    height: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
}

.footer .fab {
    padding-bottom: 1.5em;
}